
#relogio p{
	/*border : 2px solid black;*/
	text-align: left;
	float:left;
	color: white;
	margin: 2px;
	padding: 8px;
	
	font-size: 50px;
}
#cronometro{
	width: 30%;
	height: 8%;
	background:black;
}
.buttons{
	margin-top: 2%;
	width: 30%;
	height: 5%;
	background: #ccc;
}
#centralizar{
	margin-left: 35%;
	margin-top: 10%;
}

}
button{
	width: 10%;
	height: 40px;
	text-align: left;
}